---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";

import ConfigCarrier from "@components/ConfigCarrier.astro";
import { profileConfig, siteConfig } from "@/config";
import {
	AUTO_MODE,
	BANNER_HEIGHT,
	BANNER_HEIGHT_EXTEND,
	BANNER_HEIGHT_HOME,
	DARK_MODE,
	DEFAULT_THEME,
	LIGHT_MODE,
	PAGE_WIDTH,
} from "../constants/constants";
import { defaultFavicons } from "../constants/icon";
import type { Favicon } from "../types/config";
import { pathsEqual, url } from "../utils/url-utils";
import "katex/dist/katex.css";

interface Props {
	title?: string;
	banner?: string;
	description?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
}

let { title, banner, description, lang, setOGTypeArticle } = Astro.props;

const isHomePage = pathsEqual(Astro.url.pathname, url("/"));

const configHue = siteConfig.themeColor.hue;
if (!banner || typeof banner !== "string" || banner.trim() === "") {
	banner = siteConfig.banner.src;
}
banner = siteConfig.banner.src;
const enableBanner = siteConfig.banner.enable;

let pageTitle: string;
if (title) {
	pageTitle = `${title} - ${siteConfig.title}`;
} else if (siteConfig.subtitle && siteConfig.subtitle.trim() !== "") {
	pageTitle = `${siteConfig.title} - ${siteConfig.subtitle}`;
} else {
	pageTitle = siteConfig.title;
}

const favicons: Favicon[] =
	siteConfig.favicon.length > 0 ? siteConfig.favicon : defaultFavicons;
if (!lang) {
	lang = `${siteConfig.lang}`;
}
const siteLang = lang.replace("_", "-");

const bannerOffsetByPosition = {
	top: `${BANNER_HEIGHT_EXTEND}vh`,
	center: `${BANNER_HEIGHT_EXTEND / 2}vh`,
	bottom: "0",
};
const bannerOffset =
	bannerOffsetByPosition[siteConfig.banner.position || "center"];
---
<!DOCTYPE html>
<html lang={siteLang} class="bg-[var(--page-bg)] transition text-[14px] md:text-[16px]" data-overlayscrollbars-initialize
>
	<head>
		<title>{pageTitle}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={description || pageTitle}>
		<meta name="author" content={profileConfig.name}>
		<meta property="og:site_name" content={siteConfig.title}>
		<meta property="og:url" content={Astro.url}>
		<meta property="og:title" content={pageTitle}>
		<meta property="og:description" content={description || pageTitle}> 
		{setOGTypeArticle ? (
        <meta property="og:type" content="article" />
        ) : (
        <meta property="og:type" content="website" />
        )}

		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={Astro.url}>
		<meta name="twitter:title" content={pageTitle}>
		<meta name="twitter:description" content={description || pageTitle}>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content={`hsl(${configHue}, 50%, 50%)`}>

		<link rel="preload" href="/_astro/roboto-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="dns-prefetch" href="https://api.qrserver.com" />
		<link rel="preconnect" href="https://api.qrserver.com" crossorigin />
		<link rel="dns-prefetch" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
		<link rel="dns-prefetch" href="https://giscus-personal-woft.vercel.app">
		<link rel="preconnect" href="https://giscus-personal-woft.vercel.app" crossorigin>
		{favicons.map(favicon => (
			<link rel="icon"
				href={favicon.src.startsWith('/') ? url(favicon.src) : favicon.src}
				sizes={favicon.sizes}
				media={favicon.theme && `(prefers-color-scheme: ${favicon.theme})`}
			/>
		))}
		<style is:inline>
			html {
				background-color: #f0eeea;
			}
			html.dark {
				background-color: #1a1a24;
			}
		</style>
		<script is:inline define:vars={{DEFAULT_THEME, LIGHT_MODE, DARK_MODE, AUTO_MODE, BANNER_HEIGHT_EXTEND, PAGE_WIDTH}}>
			const theme = localStorage.getItem('theme') || DEFAULT_THEME;
			switch (theme) {
				case LIGHT_MODE:
					document.documentElement.classList.remove('dark');
					break
				case DARK_MODE:
					document.documentElement.classList.add('dark');
					break
				case AUTO_MODE:
					if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
						document.documentElement.classList.add('dark');
					} else {
						document.documentElement.classList.remove('dark');
					}
			}
			const hue = localStorage.getItem('hue') || configHue;
			document.documentElement.style.setProperty('--hue', hue);
			let offset = Math.floor(window.innerHeight * (BANNER_HEIGHT_EXTEND / 100));
			offset = offset - offset % 4;
			document.documentElement.style.setProperty('--banner-height-extend', `${offset}px`);
		</script>
		<style define:vars={{
			configHue,
			'page-width': `${PAGE_WIDTH}rem`,
		}}></style>
		<slot name="head"></slot>
		<link rel="alternate" type="application/rss+xml" title={profileConfig.name} href={`${Astro.site}rss.xml`}/>
	</head>
	<body class=" min-h-screen transition " class:list={[{"lg:is-home": isHomePage, "enable-banner": enableBanner}]}
			dat...@:
		// Prevent elements from overlapping the navbar
		if (!bannerEnabled) {
			return
		}
		let threshold = window.innerHeight * (BANNER_HEIGHT / 100) - 72 - 16;
		let navbar = document.getElementById('navbar-wrapper');
		if (!navbar || !document.body.classList.contains('lg:is-home')) {
			return;
		}
		if (document.body.scrollTop >= threshold || document.documentElement.scrollTop >= threshold) {
			navbar.classList.add('navbar-hidden');
		}
	});
		window.swup.hooks.on('content:replace', initCustomScrollbar);
		window.swup.hooks.on('visit:start', (visit: {to: {url: string}}) => {
			const bodyElement = document.querySelector('body');
			if (pathsEqual(visit.to.url, url('/'))) {
				bodyElement!.classList.add('lg:is-home');
			} else {
				bodyElement!.classList.remove('lg:is-home');
			}
		});
		window.swup.hooks.on('page:view', () => {
			const heightExtend = document.getElementById('page-height-extend');
			if (heightExtend) {
				heightExtend.classList.remove('hidden');
			}
		});
	}
}